body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color:coral;
  border-radius:10px;
  opacity:.75;
  -webkit-transition:.5s;
}

a {
  color: #00B7FF;
}

html {
  background-color: black;
  color:black;
}

div:hover {
  width: 25%;
  opacity: 25%;
}

div { 
  width: 25%;
}

body:hover {
  background-color:goldenrod;
  border-radius:10px;
  opacity:.9;
  transition:.5;
  -webkit-transition:.5s;
}
